* {
  margin: 0;
  padding: 0;
  font-family: "Farro", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 64%;
  background-color: #cdffff;
  padding: 20px;
  border-radius: 10px;
}
.container .title {
  padding: 10px 0;
}
.container .input {
  padding: 20px;
  resize: none;
  border-radius: 6px;
}
.container .btn {
  border-radius: 4px;
  background-color: rgba(0, 255, 255, 0.589);
  height: 30px;
}
.container .btn:hover {
  background-color: rgba(62, 255, 255, 0.301);
}
.container .radio {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
.container .speech {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}
.container .speak {
  display: none;
}
.container .output {
  padding: 20px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  resize: none;
  border: none;
  box-shadow: -2px -2px rgba(0, 0, 0, 0.342);
}